* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility */
.border-left {
  border-left: 1px solid #bbbbbb;
}

.grey {
  color: #8d9395;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #32a093 0%,
    #32a093 15%,
    #dee0da 15%,
    #dee0da 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Layout */

.container {
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: white;
}

.side {
  flex-basis: 35%;
}

main {
  display: flex;
  flex-basis: 65%;
  background: #aaa;
  flex-direction: column;
}

.content-header,
.content-footer {
  padding: 20px;
  background-color: #ededed;
  height: 70px;
  width: 100%;
}

.content-main {
  flex-grow: 1;
  background-image: url(../assets-boolzapp/img/mine.jpg);
}

/* Utente */

.utente {
  height: 70px;
  width: 300px;
  position: relative;
  bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
}

.utente img {
  width: 20%;
  border-radius: 50%;
  margin-top: 5px;
}

.utente .nome-utente {
  margin-top: 25px;
  font-weight: 400;
  margin-left: 5px;
}

/* Icone */

.icone {
  color: #bababa;
  font-size: 23px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: start;
  align-content: start;
}

.icone i {
  flex: 0 0 auto;
  margin: 15px;
  position: relative;
  bottom: 80px;
}

.utente-principale {
  margin-left: 20px;
  position: relative;
  top: 15px;
  right: 4px;
}

.ultimo-accesso {
  position: relative;
  bottom: 30px;
  left: 75px;
}

/* Imposta notifiche */

.notifiche {
  height: 80px;
  width: 100%;
  background-color: #a2dffe;
  padding: 10px 18px;
}

.cerchio-bianco {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #fff;
  padding: 16px;
}

.cerchio-bianco i {
  color: #a2dffe;
  font-size: 21px;
}

.notifiche p {
  position: relative;
  left: 70px;
  bottom: 55px;
  margin-top: 5px;
}

/* Cerca */

.cerca {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
  height: 50px;
  background-color: #fbfbfd;
  padding: 10px 40px;
}

.cerca i {
  color: #bababa;
}

.cerca input {
  width: 385px;
  height: 30px;
  border: white;
  position: relative;
  right: 20px;
  padding: 8px;
  border: 1px solid #ededed;
  border-left: none;
}

.cerca input::placeholder {
  color: #bababa;
}

.bianco {
  background-color: white;
  width: 70px;
  height: 30px;
  position: relative;
  right: 20px;
  border: 1px solid #ededed;
  padding: 5px 25px;
}

/* Messaggio */

.messaggio {
  height: 60px;
  width: 325px;
  border-radius: 8px;
  padding: 15px;
}

.inviato {
  background-color: #ddfabf;
  position: relative;
  left: 580px;
  top: 60px;
}

.ricevuto {
  background-color: white;
  position: relative;
  left: 100px;
  top: 90px;
}

.data-ora {
  font-size: 10px;
  color: #bababa;
  margin-top: 10px;
  float: right;
}

/* Utenti ciclato con il v-for */
.lista-utenti {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  align-items: auto;
  align-content: start;
}

.lista-utenti li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: center;
  padding: 15px;
  border-bottom: 1px solid #f6f6f6;
}

.lista-utenti li:last-child {
  border-bottom: none;
}

.lista-utenti img {
  width: 12%;
  border-radius: 50%;
}

.lista-utenti .name {
  margin-left: 15px;
}

/* Footer */

.content-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #f4f0ed;
}

.content-footer i {
  color: #7b8184;
  font-size: 25px;
  flex: 0 0 auto;
  margin: 10px;
}

.content-footer input {
  height: 50px;
  width: 82%;
  border: 0;
  padding: 10px;
  border-radius: 8px;
  flex-grow: 0.5;
}

.content-footer input::placeholder {
  font-weight: 100;
}
