<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzap</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
  

    <!-- Icone -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="app" class="container">
        <!-- Side -->
      <aside class="side">
        <section class="content-header">
          <div class="utente">
           <img src="assets-boolzapp/img/avatar_8.jpg" alt="" />
            <p class="nome-utente">Mirko Griffo</p>
          </div>
          <div class="icone">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </section>
        <section class="notifiche">
            <div class="cerchio-bianco">
                <i class="fas fa-bell-slash"></i>
            </div>
            <p>Ricevi notifiche di nuovi messaggi</p>
            <p><a class="grey" href="#">Attiva notifiche desktop</a></p>

        </section>
        <section class="cerca">
            <div class="bianco">
            <i class="fas fa-search"></i>
        </div>
            <input type="text" placeholder="Cerca o inizia una nuova chat">


        </section>
        
       <!-- Lista utenti con v-for -->

       <div class="lista-utenti">
        <ul>
            <li v-for="(contatti, index) in contact"
            :class="{active : index == indexUtente}"
            @click="setUtente(index)">
                
                <img v-bind:src="'assets-boolzapp/img/avatar' + contatti.avatar + '.jpg'" /> 
               
                <div class="name">{{contatti.name}}</div>
            </li>
        </ul>
       
    </section>
      </aside>

      <!-- Main -->

      <main>
        <section class="content-header border-left">
          <div class="utente">
            <img :src="`assets-boolzapp/img/avatar${contact[indexUtente].avatar}.jpg`" alt="" />
            <p class="utente-principale">{{contact[indexUtente].name}}</p>
            <p class="ultimo-accesso grey">Ultimo accesso oggi alle 10.35</p>
          </div>
          <div class="icone">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
        </section>

        <section class="content-main">
            <div class="messaggio sent"
            v-for="message in contact[indexUtente].messages"
            :class="message.status">
          <p>{{message.message}}</p>
                <p class="data-ora">{{message.date}}</p>
            </div>
            
        </section>
        <section class="content-footer">
            <i class="far fa-smile"></i>
            <input 
            type="text" 
            placeholder="Scrivi un messaggio"
            v-model="newMessage"
            @keyup.enter="addNewMessage"
            >
            
            <i class="fas fa-microphone"></i>
        </section>
      </main>
    </div>
    <!-- Day JS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/plugin/customParseFormat.js"></script>
    <!-- Javascript -->
    <script src="js/contatti.js"></script>
  </body>
</html>
